RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Accept-Encoding: gzip, deflate

Content-Security-Policy: script-src 'self'; script-src https://www.google.com/recaptcha https://www.googletagmanager.com;
