// scroll snap
.container {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.container.y {
  height: 100vh;
  flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  -webkit-overflow-scrolling: touch;
}

.container > div,
.container > header,
.container > main,
.container > section,
.container > footer {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-align: center;
  flex: none;
  height: 90%;
}

.items {
  display: grid;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  text-align: center;

  @media (min-width: 66em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.items > article {
  max-width: 22em;
}

li {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 1000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.circles {
  width: 400px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.circles svg,
.circles video {
  grid-row: 1;
  grid-column: 1;

  transition-duration: 5s;
  transition-timing-function: ease-out;
}

.circles text {
  font-size: 1.5em;
  letter-spacing: 0.12em; // not working
//  text-decoration: underline; this doesnt work
}

.circles text a {
  fill: #F2C94C;
}

.top-nav {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
