// scroll snap
.container {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.container.y {
  height: 100vh;
  flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container > div,
.container > header,
.container > main,
.container > section,
.container > footer {
  scroll-snap-align: center;
  flex: none;
  height: 90%;
}

.items {
  display: grid;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  text-align: center;

  @media (min-width: 66em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.items > article {
  max-width: 22em;
}

li {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 1000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
